.box {

    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;



    &_card {
        border-radius: 4px;

        @include media(1160) {
            flex-shrink: 0;
        }

        &.active {
            background: red;

        }

        &_io {
            font-size: 50px;
            padding-bottom: 16px;

            &.active {
                color: #fff;
            }
        }

        &.active {
            color: #fff;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 170px;
        height: 145px;
        border: 1px solid #0000004D
    }

}

.rasm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;

    @include media(600) {
        display: flex;
        overflow-x: scroll
    }
}

.rasm_card {
    width: 270px;
    height: 350px;

    &_title {
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;

    }

    &_text {
        &_span_2 {
            color: #373838;
            text-decoration: line-through;
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
        }

        &_span {
            color: #DB4444;
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
        }
    }
}

.play_b {
    position: absolute;
    bottom: 32px;
    left: 32px;
    gap: 30px;
}

.play {
    margin-bottom: 80px;

    &_box {
        @include media(1220) {
            overflow-x: scroll
        }



        display: flex;
        gap: 30px;

        &_left {
            background: #000;
            width: 570px;
            height: 600px;
            position: relative;



            img {

                width: 511px;
                height: 511px;
                margin-top: 89px;
            }

            &_title {
                font-family: 'Montserrat';
                font-size: 24px;
                font-weight: 600;
                line-height: 24px;
                color: #FFFFFF;
            }

            &_text {
                padding: 5px 0;
                font-family: 'Montserrat';
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                width: 242px;
                color: #FFFFFF;

            }

            &_btn {
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                border-bottom: 1px solid #FFFFFF;
                color: #FFFFFF;
            }
        }

        &_right {
            display: flex;
            flex-direction: column;
            gap: 30px;

            &_top {
                width: 570px;
                position: relative;

                img {
                    object-fit: cover;
                    width: 570px;
                    height: 282px;
                }

                &_title {
                    font-family: 'Montserrat';
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 24px;
                    color: #FFFFFF;
                }

                &_text {
                    padding: 4px 0;
                    font-family: 'Montserrat';
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    width: 255px;
                    color: #FFFFFF;

                }

                &_btn {
                    font-family: 'Montserrat';
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    border-bottom: 1px solid #FFFFFF;
                    color: #FFFFFF;
                }
            }

            &_bottom {
                display: flex;
                gap: 30px;
                position: relative;

                &_right {
                    width: 270px;
                    height: 284px;


                    background: #000;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 210px;
                        height: 222px;
                    }

                    &_title {
                        font-family: 'Montserrat';
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 24px;
                        color: #FFFFFF;
                    }

                    &_text {
                        padding: 4px 0;
                        font-family: 'Montserrat';
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;
                        width: 191px;
                        color: #FFFFFF;

                    }

                    &_btn {
                        font-family: 'Montserrat';
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        border-bottom: 1px solid #FFFFFF;
                        color: #FFFFFF;
                    }
                }

                &_left {
                    width: 270px;
                    height: 284px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    background: #000;

                    img {
                        width: 210px;
                        height: 222px;
                    }

                    &_title {
                        font-family: 'Montserrat';
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 24px;
                        color: #FFFFFF;
                    }

                    &_text {
                        padding: 4px 0;
                        font-family: 'Montserrat';
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;
                        width: 242px;
                        color: #FFFFFF;

                    }

                    &_btn {
                        font-family: 'Montserrat';
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        border-bottom: 1px solid #FFFFFF;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}


.Services {
    display: flex;
    text-align: center;

    @include media(746) {
        text-align: center;
    }

    &_box {
        margin-bottom: 140px;
        display: flex;
        gap: 50px;

        @include media(746) {
            text-align: center;
            overflow-x: scroll;
        }

        &_child {

            &_title {
                @include media(730) {
                    font-size: 18px;
                }

                @include media(630) {
                    font-size: 15px;
                }

                font-family: 'Montserrat';
                font-size: 20px;
                font-weight: 600;
                line-height: 28px;
                padding: 24px 0 8px 0;
            }

            &_text {
                font-family: 'Montserrat';
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;

            }
        }
    }
}

.img_box {
    &_1 {
        @include media(1220) {
            width: 1100px;
        }

        @include media(1055) {
            width: 950px;
        }

        @include media(950) {
            width: 850px;
        }

        @include media(850) {
            width: 750px;
        }

        @include media(750) {
            width: 650px;
        }

        @include media(650) {
            width: 550px;
        }

        @include media(550) {
            width: 450px;
        }

        @include media(450) {
            width: 350px;
        }

        @include media(350) {
            width: 250px;
        }
    }
}